<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>Home Page <%= "Hello Stephen".toUpperCase() %></h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis
      reprehenderit assumenda commodi nesciunt sequi sit consequuntur minima
      exercitationem! Eum corrupti qui non impedit laborum modi iusto, quas
      maiores voluptate nemo?
    </p>
    <hr />
    <p style="color: red">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis qui, aliquam
      quidem repellendus reiciendis iusto voluptatibus, similique expedita
      mollitia ea temporibus fugit. Asperiores perspiciatis architecto rerum.
      Dolore provident nostrum deserunt.
    </p>
  </body>
</html>
